# URL of the course you want to download sameple : https://courses.thorteaches.com/api/course_player/v2/courses/cissp
COURSE_LINK=""

# Cookie data from your browser (Log in -> DevTools -> Network -> Request -> Cookie header)
COOKIE_DATA=_ga="_ga=GA1.1.474022585.1761064711; visitor_id=3593760018; remember_user_token=test--test; __cf_bm=QJv_abVw5sR.0GiMG3ImVV4Wdpv_LvH2mdYgVvFRRF0-1767424382-1.0.1.1-fd33nsv.rX8Eoe3uwNsilnE3eGvOfCwr43vkY8.sss; _ga_WEY6CKBM55=GS2.1.s1767424379$o16$g0$t1767424383$j56$l0$h0; cf_clearance=ssss-1767425232-1.2.1.1-N7tfapskEfcR91uS0QfCfd_2CbhUzWH6ToMKy9ymf1NWlpBk39J7zIZ5iGGqLhQbxXpGws0HpFHLmJyD8kyaXvX16S3qLWjsiNkBqTA56tJjKLCMxyafutcu3dX_rFVpuJZMXBxJNlYGh4Cnj6bj9z3TBMNpJbi5D3M0vvRWuqne5LB.sss; _thinkific_session=dddddsdfsdfsdf%3D%3D--49885caa961fe38d8085e5a05b928cf17e424459"

# Client Date from your browser (Log in -> DevTools -> Network -> Request -> Date header)
# Format example: Sat, 03 Jan 2026 12:00:00 GMT
CLIENT_DATE=Sat, 03 Jan 2026 09:08:19 GMT

# Video Quality (Original, 1080p, 720p, 540p, 360p)
VIDEO_DOWNLOAD_QUALITY=720p